%%-*- mode: erlang -*-
%% vim: ft=erlang:
{erl_opts, [debug_info]}.
{deps, [ {alsa, {git, "https://github.com/cjkjellander/erlang-alsa.git",
                 {branch, "master"}}}
       ]}.

{profiles, [
    {test, [{deps, [{meck, "1.2.0"}]}]}
]}.

%% exports_not_used is noise here: these modules are the application's
%% API, called from the shell and from tests rather than from inside the
%% application itself.
{xref_checks, [undefined_function_calls,
               undefined_functions,
               locals_not_used,
               deprecated_function_calls]}.

{shell, [
  %% {config, "config/sys.config"},
    {apps, [sh0tcaller]}
]}.
